body{
margin:0px;
padding:0px;
background:#f0f0f0;
}
#header{
width:100%;
height:15%;
background:#ea4f51;
}
#main{
width:100%;
height:85%;
}
#logo{
height=100%;
}
#main_left{
height:100%;
box-shadow: 5px 10px 8px 10px #888888;
}
#main_right{
height:100%;
}
#submit{
width:80px;
background:#a13462;
color:#fff;
}


@media(max-width:400px){
#logo{
text-align:center;
}
#main_left{
display:none;
}

}